body {
  width: 960px;
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 20px;
}

section text {
  text-align: justify;
}

svg {
  border: 1px solid #ccc;
  overflow: visible;
  margin: 0px auto;
}


.lowerCase {
  text-transform: lowercase;
}

.colorir {
  color: red;
}
