body {
  width: 1080px;
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

.clusters rect {
  fill: #fff;
  stroke: #999;
  stroke-width: 1.5px;
  margin: 0 auto;
}
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}
.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
  margin: 0 auto;
}
.edgePath path {
  stroke: rgb(253, 253, 253);
  stroke-width: 2.0px;
}

svg {
  border: 1px solid #ccc;
  overflow: visible;
  margin: 0px auto;
}

pre {
  border: 1px solid #ccc;
}